html {
    font-family: "montserrat", "NanumSquare", sans-serif;
  }
  
  /* 노말라이즈 */
  body,
  ul,
  li,
  h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x:hidden;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  label[for] {
    cursor: pointer;
    user-select: none;
  }
  
  .border-red {
    border: 4px solid red;
  }
  
  .border-pink {
    border: 4px solid pink;
  }
  
  .border-blue {
    border: 4px solid blue;
  }
  
  .border-green {
    border: 4px solid green;
  }
  
  .border-black {
    border: 4px solid black;
  }
  
  .border-gold {
    border: 4px solid gold;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-jc-e {
    justify-content: flex-end;
  }
  
  .flex-jc-s {
    justify-content: flex-start;
  }
  
  .flex-jc-e {
    justify-content: flex-end;
  }
  
  .flex-jc-c {
    justify-content: center;
  }
  
  .flex-jc-sb {
    justify-content: space-between;
  }
  
  .flex-ai-c {
    align-items: center;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  .flex-1-0-0 {
    flex:1 0 0;
  }
  
  .flex-as-c {
    align-self: center;
  }
  
  .height-100p {
    height: 100%;
  }
  
  .block {
    display: block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .con{
    max-width:1200px;
  }
  
  .line-box-empty{
    height:1px;
    width:100%;
    margin-top:250px;
  }
  
  .line-box{
    background-color:#efefef;
    height:1px;
    width:100%;
  }
  
  .main-ex-box{
    margin-top:150px;
  }
  
  
  .top-bar .logo > img{
    width:189px;
  }
  
  .top-bar{
    color:white;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1;
  }
  
  .menu-box > ul > li > a{
    padding:0 25px;
    font-weight:bold;
    font-size:14px;
  }
  
  .menu-box > ul > li:hover > a{
    color:#666;
    transition: color 0.4s;
  }
  
  .top-bar.active{
    background-color:white;
    color:#ababab;
    transition-duration: 0.5s;
    z-index:2;
  }
  
  
  .top-bar .logo > img:first-child{
    display:none;
  }
  
  .top-bar.active .logo > img:first-child{
    display:block;
  }
  
  .top-bar.active .logo > img:last-child{
    display:none;
  }
  
  .btn-lang > a, .btn-lang > ul > li > a{
    font-weight:bold;
    color:#777;
    font-size:13px;
  }
  
  .top-bar .btn-lang {
    position:relative;
  }
  
  .top-bar .btn-lang > ul {
    display:none;
    position:absolute;
  }
  
  .top-bar .btn-lang:hover > ul {
    display:block;
    top:calc(50% + 9px);
    left:51%;
    transform:translateX(-50%);
  }
  
  
  .top-bar .btn-lang > ul > li:hover > a{
    color:#333;
    transition:color 0.2s;
  }
  
  
  
  .slider-box {
    height:700px;
    position:relative;
  }
  
  .slider-box .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    transition:opacity 2s, visibility 2s;
  }
  
  .slider-box .slides > div.active {
    opacity:2;
    visibility:visible;
  }
  
  .slider-box .slides > div > .bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:970px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }
  
  .slider-box .pages {
    position:absolute;
    z-index:1;
    top:920px;
    left:900px;
  }
  
  .slider-box .pages > div{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid white;
    cursor:pointer;
  }
  
  .slider-box .pages > div:not(:last-child){
    margin-right:10px;
  }
  
  .slider-box .pages > div:hover{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#fff;
    cursor:pointer;
  }
  
  .main-box-1 {
    margin-top:200px;
  }
  
  .main-box-1 > .main-video {
    margin-top: 50px;
  }
  
  .main-box-1 > .main-video > video{
    margin-left:auto;
    margin-right:auto;
  }
  
  .txt-box-1 {
    width:1400px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    
  }
  
  .txt-box-1 > ul > .title {
    font-size: 45px;
  }
  
  .txt-box-1 > ul > .title-txt {
    margin-top:40px;
    font-size: 17px;
  
  }
  
  .dstrict-logo{
    width:300px;
  }
  
  .exhibition-box-1{
    width:100%;
  }
  
  .exhibition-txt-box.active {
    transform:translatez(0);
    opacity:1;
  }
  
  .exhibition-txt-box {
    transform:translatez(100%);
    opacity:0;
    transition:transform 1.5s, opacity 2.5s;
    margin-bottom:300px;
    margin-top:20px;
  }
  
  
  .exhibition-txt-box > img{
    position:absolute;
  }
  
  .box-1 {
    transform:translateX(100%);
    opacity:0;
    transition:transform 1s, opacity 2s;
    margin-top:3px;
  }
  
  .box-1 > img{
    width:100%;
    height:100%;
  }
  
  
  .box-1:not(:first-child){
   margin-left:3px;
  }
  
  
  .box-1.active {
    transform:translateX(0);
    opacity:1;
  }
  
  
  .box-2 {
    transform:translatey(100%);
    opacity:0;
    transition:transform 1s, opacity 2s;
    margin-top:3px;
  }
  
  
  .exhibition-box-2{
    width:100%;
  }
  
  .box-2 > img{
    width:100%;
    height:100%;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .box-2:not(:first-child){
   margin-left:3px;
  }
  
  .box-2.active {
    transform:translatey(0);
    opacity:1;
  }
  
  .box-3 {
    transform:translatez(100%);
    opacity:0;
    transition:transform 1s, opacity 2s;
    margin-top:3px;
  }
  
  
  .exhibition-box-3{
    width:100%;
  }
  
  .box-3 > img{
    width:100%;
    height:100%;
  }
  
  .box-3:not(:first-child){
   margin-left:3px;
  }
  
  .box-3.active {
    transform:translatez(0);
    opacity:1;
  }
  
  .box-txt {
    cursor:pointer;
  }
  
  .box-txt > *:not(:first-child) {
    text-align:center;
    font-weight:bold;
    margin-top:10px;
  }
  
  .box-txt > .img-box {
    position:relative;
    overflow:hidden;
  }
  
  .box-txt > .img-box::after {
    content:"";
    display:block;
    background-color:rgba(0,0,0,0);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:background-color 0.5s;
  }
  
  .box-txt > .img-box > .img-in-txt {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    opacity:0;
    visibility:hidden;
    transition: opacity .5s, visibility .5s;
    z-index:2;
    padding:0 20px;
    box-sizing:border-box;
  }
  
  .box-txt:hover > .img-box > .img-in-txt {
    opacity:1;
    visibility:visible;
  }
  
  .box-txt:hover > .img-box::after {
    background-color:rgba(0,0,0,.5);
  }
  
  .box-txt:hover > .img-box::before {
    opacity:1;
  }
  
  .box-txt > .img-box > img {
    transition:transform 0.5s;
  }
  
  .img-in-txt-title{
    font-size:25px;
    font-weight:bold;
    margin-bottom:70px;
  }
  
  .img-in-txt{
      flex-direction:column;
  }
  
  .img-in-txt-con > ul > li:first-child{
    font-size:14px;
    margin-bottom:20px;
  }
  
  .img-in-txt-con > ul > li:last-child{
    font-size:12px;
  }
  
  .main-txt-3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  .table-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* 인접한, 외곽선을 겹치도록 */
    border-collapse: collapse;
  }
  
  .table-1 th,
  .table-1 td {
    border: 1px solid #efefef;
    text-align: center;
    padding: 10px;
  }
  
  .table-1 thead {
    background-color: #efefef;
    font-size: 17px;
    color: #333;
  }
  
  .table-1 {
    font-size: 15px;
  }
  
  .main-txt-3 {
    font-size: 17px;
  }
  
  .table-1 tbody > tr > td > .td-1 {
    color: #777;
    text-decoration: line-through;
  }
  
  .table .table-1 tbody > tr:hover {
    background-color: #efefef;
    transition: 0.5s;
  }
  
  .table-1 tbody > tr > td:hover {
    background-color: #efefef;
    transition: 1s;
  }
  
  .main-txt-3-2 {
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 100px;
    letter-spacing: 1px;
  }
  
  .main-txt-4 {
    font-size: 17px;
    text-align: center;
    color: #4873c1;
    margin-bottom: 50px;
    margin-top: 70px;
  }
  
  #map {
    width: 100%;
    height: 600px;
  }
  
  .main-box-5 {
    margin-top: 280px;
  }
  
  .main-txt-5 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
  }
  
  .main-txt-5-2 {
    margin-top: 80px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
  }
  
  .main-box-5-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .main-box-5-img-2 {
    width: 700px;
    padding:30px;
  }
  
  .img-2{
    margin-top:-10px;
  }
  
  .bottom-bar {
    margin-top:190px;
    width: 100%;
    height: 250px;
    background-color: #dddddd;
  }
  
  .bottom-bar-txt > ul > a > img{
    width:250px;
    opacity:50%;
  }
  
  .bottom-bar-txt > ul > a:hover > img{
    transition:1s;
    opacity:100%;
  }
  
  .bottom-bar-txt > ul > li{
      padding:30px;
    font-size:14px;
    color:#555;
  }
  
  .bottom-sns {
    padding:0 100px;
  }
  
  .bottom-sns > a > img{
    opacity:50%;
    width:40px;
    margin-top:20px;
  }
  
  .bottom-sns > a:hover > img{
    transition:1s;
    opacity:100%;
  }
  